#projetos {
    background: linear-gradient(to right, rgb(57, 1, 90), rgb(42, 1, 53), black);
    border-bottom: 2px solid white;
}

.projetos {
    padding-top: 40px;
}

.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 30px;
}

button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.527);
    border: none;
    transition: ease-in-out 0.3s;
}

button:hover {
    letter-spacing: 5px;
    color: yellow;
}

.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.projetos a {
    display: inline;
}

.pro {
    background-color: rgba(0, 0, 0, 0.527);
    height: 180px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #c4c4c4;
}

.pro:hover {
    letter-spacing: 5px;
}
.pro div {
    background-color: rgb(57, 1, 90);
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.pro .projeto-pokedex {
    transform: rotate(0deg);
}

.projeto-pokedex {
    background-size: 100% auto;
    border: none;
}

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

@media (max-width: 1200px) {
    .projetos {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #projetos {
        display: flex;
        justify-content: center;
    }

    .projetos-itens {
        flex-direction: column;
    }
}

@media (max-width: 950px) {
    .pro {
        max-width: 300px;
    }
}